@import "../../glodalStyleVariables.scss";

.rating {
  color: $gold;
  padding: 0 0.5rem 0 0.5rem;
  .empty {
    color: $content-color;
  }
  .reviews {
    color: $content-color;
    font-weight: bold;
    margin: 0.5rem;
  }
}
