.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 7rem;
}
.content-container .separator {
  border-left: 1px solid #e7e7e7;
  width: 1px;
  height: 395px;
}
@media screen and (max-width: 850px) {
  .content-container .separator {
    display: none;
  }
}