.btn {
  position: relative;
  cursor: pointer;
  padding: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: #575153;
  background: transparent;
  border: 2px solid #575153;
  margin: 0.5rem;
  white-space: nowrap;
}
.btn .loader {
  position: absolute;
  top: -2px;
  vertical-align: middle;
  margin-left: 2rem;
  height: 40px;
}
.btn:hover {
  color: white;
  background: #00c8c8;
  border: 2px solid #00c8c8;
  transition: all 700ms ease-in-out;
}

.red {
  background: #bb5465;
  border: 2px solid #bb5465;
}
.red:hover {
  background: #bb5465;
  border: 2px solid #bb5465;
  transition: all 700ms ease-in-out;
}