.product-view .product {
  margin: 4rem 0 4rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.product-view .product > :first-child {
  margin-right: 1rem;
}