.home-page .top-image {
  position: relative;
  pointer-events: none;
}

.home-page .top-image .background {
  z-index: -1000;
  position: relative;
  width: 100%;
}

.home-page .top-image .shop_button {
  position: absolute;
  bottom: 5rem;
  right: 15rem;
  cursor: pointer;
  pointer-events: auto;
  padding: 1.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: #575153;
  background: transparent;
  border: 2px solid #575153;
  margin: 0.85rem;
  z-index: 1000;
}

.home-page .top-image .shop_button:hover {
  color: white;
  background: #00c8c8;
  border: 2px solid #00c8c8;
  -webkit-transition: all 700ms ease-in-out;
  transition: all 700ms ease-in-out;
}

@media screen and (max-width: 1150px) {
  .home-page .top-image .shop_button {
    bottom: 1rem;
    right: 1rem;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@media screen and (max-width: 450px) {
  .home-page .top-image .shop_button {
    bottom: -1rem;
    right: -5rem;
  }
}

.home-page .products-overview {
  width: 90%;
  margin: 25px auto 25px auto;
  border-top: 1px solid #eeeeee;
}

.home-page .products-overview .sub-menu nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home-page .products-overview .sub-menu nav .menu .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8rem;
  padding: 1.75rem;
  font-weight: bold;
}

.home-page .products-overview .sub-menu nav .menu .item:first-child {
  padding-left: 0;
}

.home-page .products-overview .sub-menu nav .menu .item a {
  color: #575153;
}

@media screen and (max-width: 1150px) {
  .home-page .products-overview .sub-menu nav .menu .item {
    margin: 0;
    padding: 0.5rem;
  }
}

.home-page .products-overview .sub-menu nav .menu .item:hover > a,
.home-page .products-overview .sub-menu nav .menu .item:hover i {
  color: #00c8c8;
  -webkit-transition: color 700ms ease-in-out;
  transition: color 700ms ease-in-out;
}

.home-page .products-overview .sub-menu nav .menu .item:hover .dropdown {
  opacity: 1;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  pointer-events: auto;
  -webkit-box-shadow: 0px 11px 20px 0px #222222;
          box-shadow: 0px 11px 20px 0px #222222;
  -webkit-transition: all 600ms ease-in-out;
  transition: all 600ms ease-in-out;
}

.home-page .products-overview .sub-menu nav .menu .item:last-child .dropdown {
  right: 2%;
}

.home-page .products-overview .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.home-page .products-overview .products .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 49%;
}

.home-page .products-overview .products .col:nth-child(1) {
  margin-right: 0.5rem;
}

.home-page .products-overview .products .col:nth-child(2) {
  margin-left: 0.5rem;
}

.home-page .products-overview .products .col .product {
  position: relative;
  margin: 0.5rem;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.home-page .products-overview .products .col .product:hover {
  z-index: 1000;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(34, 34, 34, 0.5);
          box-shadow: 0px 0px 24px 0px rgba(34, 34, 34, 0.5);
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.home-page .products-overview .products .col .product:hover .info {
  opacity: 1;
  pointer-events: auto;
}

.home-page .products-overview .products .col .product:hover .info:hover {
  color: #00c8c8;
}

.home-page .products-overview .products .col .product:hover .thumbnails {
  opacity: 1;
  pointer-events: auto;
}

.home-page .products-overview .products .col .product:hover .product-section {
  opacity: 1;
}

.home-page .products-overview .products .col .product:hover .product-section .action-section {
  pointer-events: auto;
}

.home-page .products-overview .products .col .product:hover .product-section .action-section .hover-icon:hover {
  background-color: #00c8c8;
}

.home-page .products-overview .products .col .product .product-image {
  width: 100%;
}

.home-page .products-overview .products .col .product .product-pricing {
  position: absolute;
  top: 1%;
  left: 1%;
}

.home-page .products-overview .products .col .product .product-pricing .price {
  color: #575153;
  margin: 0.2rem;
  font-size: 0.8rem;
}

.home-page .products-overview .products .col .product .product-pricing .old {
  text-decoration: line-through;
}

.home-page .products-overview .products .col .product .info {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  color: white;
  font-size: 2rem;
}

@media screen and (max-width: 1150px) {
  .home-page .products-overview .products .col .product .info {
    font-size: 1rem;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
  }
}

.home-page .products-overview .products .col .product .thumbnails {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 10%;
  opacity: 0;
  pointer-events: none;
  max-width: 25%;
  margin: 1rem;
}

.home-page .products-overview .products .col .product .thumbnails img {
  border: 1px solid white;
  width: 100%;
}

.home-page .products-overview .products .col .product .thumbnails img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.home-page .products-overview .products .col .product .product-section {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: -6rem;
  background-color: white;
}

@media screen and (max-width: 1150px) {
  .home-page .products-overview .products .col .product .product-section {
    bottom: -1.8rem;
  }
}

.home-page .products-overview .products .col .product .product-section .details {
  width: 100%;
}

.home-page .products-overview .products .col .product .product-section .action-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #575153;
  pointer-events: none;
  -webkit-box-shadow: 0px 20px 24px 0px rgba(34, 34, 34, 0.5);
          box-shadow: 0px 20px 24px 0px rgba(34, 34, 34, 0.5);
  width: 100%;
}

.home-page .products-overview .products .col .product .product-section .action-section .hover-icon {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #575153;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .home-page .products-overview .products .col .product .product-section .action-section .hover-icon {
    font-size: 0.5rem;
    margin: 0.25rem;
  }
}

.home-page .products-overview .products .small {
  width: 42%;
}

.home-page .products-overview .products .large {
  width: calc(84% + 1rem);
}

@media screen and (max-width: 450px) {
  .home-page .products-overview .products .small,
  .home-page .products-overview .products .large {
    width: 100%;
  }
}
