.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  max-width: 80%;
  margin: auto;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  .navigation {
    max-width: 95%;
  }
}
.navigation .brand {
  margin-right: auto;
  margin-top: 2.1875rem;
  margin-bottom: 3.4375rem;
}
@media screen and (max-width: 1150px) {
  .navigation .brand {
    margin-bottom: 0.9375rem;
  }
}
.navigation .main-menu {
  min-width: 40%;
}
.navigation .search {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 1150px) {
  .navigation .search {
    margin: 0.5rem;
  }
}
.navigation .search:focus-within {
  transform: scale(1.5);
}
.navigation .search input {
  color: #777274;
  padding: 0.5rem;
  max-width: 60%;
  font-size: 0.5rem;
  border: 1px solid #e7e7e7;
  border-right: 0;
}
.navigation .search input:focus {
  outline: none;
}
.navigation .search i {
  font-size: 0.5rem;
  padding: 0.54rem;
  color: #777274;
  border: 1px solid #e7e7e7;
  border-left: 0;
}