.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  max-width: 80%;
  margin: auto;
  text-transform: uppercase;
}
@media screen and (max-width: 450px) {
  .navigation {
    max-width: 95%;
  }
}
.navigation .brand {
  margin-right: auto;
  margin-top: 2.1875rem;
  margin-bottom: 3.4375rem;
}
@media screen and (max-width: 1150px) {
  .navigation .brand {
    margin-bottom: 0.9375rem;
  }
}
.navigation a {
  display: flex;
  gap: 0.2rem;
}
.navigation a h1:nth-child(1) {
  font-weight: bold;
}
.navigation a h1 {
  color: #222222;
  font-size: 1rem;
}
.navigation nav .menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 1150px) {
  .navigation nav .menu {
    justify-content: space-around;
  }
}
.navigation nav .menu .item {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  padding: 1.75rem;
  font-weight: bold;
}
@media screen and (max-width: 1150px) {
  .navigation nav .menu .item {
    margin: 0;
    padding: 0.5rem;
  }
}
.navigation nav .menu .item a,
.navigation nav .menu .item i {
  color: #222222;
}
.navigation nav .menu .item:hover > a,
.navigation nav .menu .item:hover i {
  color: #00c8c8;
  transition: color 700ms ease-in-out;
}
.navigation nav .menu .item:hover .dropdown {
  opacity: 1;
  transform: translateY(5px);
  pointer-events: auto;
  box-shadow: 0px 11px 20px 0px #222222;
  transition: all 600ms ease-in-out;
}
.navigation nav .menu .item:last-child .dropdown {
  right: 2%;
}
.navigation .search {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 1150px) {
  .navigation .search {
    margin: 0.5rem;
  }
}
.navigation .search:focus-within {
  transform: scale(1.5);
}
.navigation .search input {
  color: #777274;
  padding: 0.5rem;
  max-width: 60%;
  font-size: 0.5rem;
  border: 1px solid #e7e7e7;
  border-right: 0;
}
.navigation .search input:focus {
  outline: none;
}
.navigation .search i {
  font-size: 0.5rem;
  padding: 0.54rem;
  color: #777274;
  border: 1px solid #e7e7e7;
  border-left: 0;
}

.dropdown {
  position: absolute;
  top: 100px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  pointer-events: none;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
}
.dropdown .dropdown-categories {
  position: relative;
  margin: 1rem;
}
.dropdown .dropdown-categories .dropdown-title {
  margin: 0.65rem;
  margin-bottom: 1.5rem;
  color: #222222;
  font-weight: bold;
}
.dropdown .dropdown-categories .dropdown-item {
  margin: 0.625rem;
  color: #777274;
  text-transform: none;
  font-weight: lighter;
  transform: scale(1);
  transition: transform 400ms ease-out;
}
.dropdown .dropdown-categories .dropdown-item:hover {
  color: #00c8c8;
  transform: scale(1.1);
  transition: all 400ms ease-in-out;
}