@import "../../glodalStyleVariables.scss";

.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  max-width: 80%;
  margin: auto;
  text-transform: uppercase;
  @media screen and (max-width: 450px) {
    max-width: 95%;
  }
  .brand {
    margin-right: auto;
    margin-top: 2.1875rem;
    margin-bottom: 3.4375rem;
    @media screen and (max-width: 1150px) {
      margin-bottom: 0.9375rem;
    }
  }
  a {
    display: flex;
    gap: 0.2rem;

    h1:nth-child(1) {
      font-weight: bold;
    }
    h1 {
      color: $dark-text;
      font-size: 1rem;
    }
  }

  .search {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    @media screen and (max-width: 1150px) {
      margin: 0.5rem;
    }
    &:focus-within {
      transform: scale(1.5);
    }
    input {
      color: $item-color;
      padding: 0.5rem;
      max-width: 60%;
      font-size: 0.5rem;
      border: 1px solid $border-color;
      border-right: 0;

      &:focus {
        outline: none;
      }
    }
    i {
      font-size: 0.5rem;
      padding: 0.54rem;
      color: $item-color;
      border: 1px solid $border-color;
      border-left: 0;
    }
  }
}
