$nav-background-color: #ffffff;
$dark-text: #222222;
$hover-color: #00c8c8;
$item-color: #777274;

.navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  max-width: 80%;
  margin: auto;
  text-transform: uppercase;
  .brand {
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 55px;
  }
  a {
    display: flex;
    gap: 0.2rem;

    h1:nth-child(1) {
      font-weight: bold;
    }
    h1 {
      color: $dark-text;
      font-size: 1rem;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
      display: flex;
      flex-direction: column;
      font-size: 0.7rem;
      margin: 28px;
      font-weight: bold;
      a,
      i {
        color: $dark-text;
      }

      &:hover {
        > a,
        i {
          color: $hover-color;
        }
        .dropdown {
          display: flex;
          flex-wrap: wrap;
          opacity: 1;
          pointer-events: auto;
          transform: translateY(5px);
          transition: opacity 500ms ease-in-out, transform 200ms ease-in-out;
          background-color: $nav-background-color;
          padding: 1rem;
          box-shadow: 0px 11px 20px 0px #dedadc;
          border-radius: 5px;
          .dropdown-categories {
            margin: 1rem;
            .dropdown-title {
              margin: 0.65rem;
              margin-bottom: 1.5rem;
              color: $dark-text;
              font-weight: bold;
            }
            .dropdown-item {
              margin: 10px;
              color: $item-color;
              text-transform: none;
              font-weight: lighter;
              &:hover {
                color: $hover-color;
              }
            }
          }
        }
      }
      &:last-child {
        .dropdown {
          right: 2%;
        }
      }
    }
  }
  .dropdown {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    opacity: 0;
    .dropdown-categories {
      position: relative;
    }
  }
}

.dropdown > .item:focus + .dropdown-categories {
  opacity: 100%;
  display: flex;
}
