@import "../../glodalStyleVariables.scss";

.checkout {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  .products {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 1rem;
    background-color: $subsection-color;
    box-shadow: 15px 15px 40px 2px $title-color;
    align-items: flex-start;
    margin: 2rem 1rem 2rem 1rem;
    padding: 1rem;
    .product {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      margin: 0.5rem;
      padding: 1rem;
      border: 1px dashed $content-color;
      border-radius: 1rem;
      img {
        width: 10rem;
        border-radius: 0.5rem;
      }
      .product-content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
        .title {
          color: $content-color;
          margin: 0 1rem;
        }
        input {
          background-color: transparent;
          width: 2.5rem;
          border: 1px solid $content-color;
          color: $content-color;
          padding: 0.5rem;
          &:focus {
            outline: none;
          }
        }
        span {
          font-size: 1rem;
          color: $content-color;
          margin: 0.8rem 1rem 0 0.5rem;
        }
        .hover-icon {
          padding: 0.3rem 0.3rem 0.3rem 0.3rem;
          margin: 0 0.5rem;
          background-color: $title-color;
          color: white;
          border-radius: 1rem;
          width: 0.5rem;
          font-size: 0.5rem;
          cursor: pointer;
          &:hover {
            background-color: $hover-color;
          }
        }
        .product-remove {
          font-size: 1.1rem;
          color: $content-color;
          i {
            color: red;
            cursor: pointer;
          }
        }
      }
    }
  }
  .total-and-continue {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: transparent;
    box-shadow: 15px 15px 40px 2px $title-color;
    min-width: 30%;
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    h1 {
      color: $title-color;
      font-weight: bold;
      font-size: 2rem;
    }
    span {
      font-weight: normal;
      margin: 0.5rem;
    }
    .total {
    }
    .continue {
      button {
        cursor: pointer;
        padding: 1.25rem 2rem 1.25rem 2rem;
        text-transform: uppercase;
        font-size: 1rem;
        color: $title-color;
        background: transparent;
        border: 2px solid $content-color;
        border-radius: 0.5rem;
        margin: 1rem 0 0 0;
        white-space: nowrap;
        width: 100%;
        transform: scale(1);
        i {
          margin: 0 1rem 0 0;
        }
        &:hover {
          color: white;
          background: $copyright-background-color;
          transform: scale(1.1);
          transition: transform 1s ease-in-out;
        }
      }
    }
  }
}
