.checkout {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}
.checkout .products {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #f8f8f8;
  box-shadow: 15px 15px 40px 2px #575153;
  align-items: flex-start;
  margin: 2rem 1rem 2rem 1rem;
  padding: 1rem;
}
.checkout .products .product {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0.5rem;
  padding: 1rem;
  border: 1px dashed #989898;
  border-radius: 1rem;
}
.checkout .products .product img {
  width: 10rem;
  border-radius: 0.5rem;
}
.checkout .products .product .product-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.checkout .products .product .product-content .title {
  color: #989898;
  margin: 0 1rem;
}
.checkout .products .product .product-content input {
  background-color: transparent;
  width: 2.5rem;
  border: 1px solid #989898;
  color: #989898;
  padding: 0.5rem;
}
.checkout .products .product .product-content input:focus {
  outline: none;
}
.checkout .products .product .product-content span {
  font-size: 1rem;
  color: #989898;
  margin: 0.8rem 1rem 0 0.5rem;
}
.checkout .products .product .product-content .hover-icon {
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  margin: 0 0.5rem;
  background-color: #575153;
  color: white;
  border-radius: 1rem;
  width: 0.5rem;
  font-size: 0.5rem;
  cursor: pointer;
}
.checkout .products .product .product-content .hover-icon:hover {
  background-color: #00c8c8;
}
.checkout .products .product .product-content .product-remove {
  font-size: 1.1rem;
  color: #989898;
}
.checkout .products .product .product-content .product-remove i {
  color: red;
  cursor: pointer;
}
.checkout .total-and-continue {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: transparent;
  box-shadow: 15px 15px 40px 2px #575153;
  min-width: 30%;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 1rem;
}
.checkout .total-and-continue h1 {
  color: #575153;
  font-weight: bold;
  font-size: 2rem;
}
.checkout .total-and-continue span {
  font-weight: normal;
  margin: 0.5rem;
}
.checkout .total-and-continue .continue button {
  cursor: pointer;
  padding: 1.25rem 2rem 1.25rem 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: #575153;
  background: transparent;
  border: 2px solid #989898;
  border-radius: 0.5rem;
  margin: 1rem 0 0 0;
  white-space: nowrap;
  width: 100%;
  transform: scale(1);
}
.checkout .total-and-continue .continue button i {
  margin: 0 1rem 0 0;
}
.checkout .total-and-continue .continue button:hover {
  color: white;
  background: #333333;
  transform: scale(1.1);
  transition: transform 1s ease-in-out;
}