.header {
  background-color: #333333;
  width: 100%;
  min-width: 300px;
  height: 45px;
}
.header .header-item-container {
  display: flex;
  justify-content: right;
  max-height: 45px;
  height: 100%;
}
.header .header-item-container .profile-picture {
  height: 40px;
  border-radius: 20px;
  margin: 0.2rem;
}
.header .header-item-container .header-item {
  display: block;
  font-size: 0.65rem;
  margin: 17px;
  color: #999999;
  min-width: 2.5rem;
}
.header .header-item-container .header-item:hover {
  color: #07b4b4;
  transition: color 700ms ease-in-out;
}
.header .header-item-container .shoping-cart {
  position: relative;
  background-color: #07b4b4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 145px;
  cursor: pointer;
  font-size: 0.65rem;
}
.header .header-item-container .shoping-cart a {
  color: #ffffff;
}
.header .header-item-container .shoping-cart a > i {
  min-width: 45px;
  font-size: 0.97rem;
}
.header .header-item-container .shoping-cart a .shoping-status {
  font-weight: bold;
}
.header .header-item-container .shoping-cart .fa-chevron-down {
  display: contents;
  font-size: 0.65rem;
  margin: 0px;
}
.header .header-item-container .shoping-cart:hover .dropdown {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 500ms ease-in-out;
}

.dropdown {
  pointer-events: none;
  position: absolute;
  top: 90%;
  right: 0;
  min-width: 80%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  transform: translateY(5px);
  transition: opacity 500ms ease-in-out, transform 200ms ease-in-out;
  background-color: #ffffff;
  padding: 1rem;
  box-shadow: 0px 11px 20px 0px #222222;
  border-radius: 5px;
  cursor: auto;
}
.dropdown .dropdown-title {
  font-size: 0.5rem;
  font-size: 1rem;
  margin: 0.25rem;
  color: #222222;
  font-weight: bold;
}
.dropdown .dropdown-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  padding: 0.25rem;
  padding-bottom: 0.25rem;
  color: #777274;
  font-size: 0.7rem;
  border-top: 1px solid #e7e7e7;
}
.dropdown .dropdown-categories .product-image {
  max-width: 2.5rem;
}
.dropdown .dropdown-categories .product-title {
  padding: 0.2rem;
  display: flex;
  align-items: center;
}
.dropdown .dropdown-categories .product-quantity {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.2rem;
  align-items: center;
}
.dropdown .dropdown-categories .product-quantity .product-dimension {
  margin: 0.1rem;
}
.dropdown .dropdown-categories .product-price {
  padding: 0.2rem;
  display: flex;
  align-items: center;
}
.dropdown .dropdown-categories .product-price .product-currency {
  margin: 0.1rem;
}
.dropdown .dropdown-categories .product-remove {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 90%;
  background-color: rgba(243, 118, 118, 0.2);
}
.dropdown .dropdown-categories .product-remove i {
  font-size: 1rem;
  color: red;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.dropdown .dropdown-categories:hover .product-remove {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 500ms ease-in-out;
}
.dropdown .go-to-cart {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background-color: #00c8c8;
  margin: 0.5rem;
  padding: 0.5rem;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  transform: scale(1);
  transition: transform 700ms ease-out;
}
.dropdown .go-to-cart:hover {
  transform: scale(1.1);
  opacity: 1;
  background: linear-gradient(90deg, rgb(0, 138, 138) 0%, rgb(0, 200, 200) 70%, rgb(0, 212, 255) 100%);
  transition: transform 700ms ease-out;
}
@media screen and (max-width: 1150px) {
  .dropdown {
    right: 35%;
  }
}