.header {
  background-color: #333333;
  width: 100%;
  min-width: 300px;
  height: 45px;
  .header-item-container {
    display: flex;
    justify-content: right;
    max-height: 45px;
    height: 100%;

    .header-item {
      display: block;
      font-size: 0.65rem;
      margin: 17px;
      color: #999999;
      min-width: 2.5rem;
    }
    .header-item:hover {
      color: #07b4b4;
    }
    .shoping-cart {
      background-color: #07b4b4;
      display: flex;
      align-items: center;
      min-width: 145px;
      a {
        span,
        i {
          font-size: 0.65rem;
          color: #ffffff;
          min-width: 45px;
        }

        i {
          margin-left: 22px;
          font-size: 0.97rem;
        }
        .fa-chevron-down {
          display: contents;
          font-size: 0.65rem;
          margin: 0px;
        }
      }
    }
  }
}
