.footer {
  font-family: "Montserrat";
  background-color: #ffffff;
  max-width: 100%;
  font-size: 0.8rem;
}
.footer .footer-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer .footer-body .footer-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.footer .footer-body .footer-content .section {
  margin-top: 4rem;
  max-width: 210px;
  margin-left: 5px;
  margin-right: 5px;
}
.footer .footer-body .footer-content .section .section-title {
  color: #575153;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.footer .footer-body .footer-content .section .section-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.footer .footer-body .footer-content .section .section-content .section-component {
  color: #989898;
  margin: 0.2rem;
}
.footer .footer-body .footer-content .section .section-content .section-component:hover {
  color: #00c8c8;
  transition: color 700ms ease-in-out;
}
.footer .footer-body .footer-banners {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 2rem;
  font-size: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer .footer-body .footer-banners .banner {
  padding: 3rem;
  width: 40%;
  min-width: 160px;
}
.footer .footer-body .footer-banners .footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333333;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
.footer .footer-body .footer-banners .footer-info h1:nth-child(1) {
  font-weight: bold;
}
.footer .footer-body .footer-banners .footer-social-network {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00c8c8;
}
.footer .footer-body .footer-banners .footer-social-network i {
  display: flex;
  margin: 5px;
  color: #ffffff;
}
.footer .footer-copyright-section {
  background-color: #333333;
  width: 100%;
}
.footer .footer-copyright-section .footer-content-body {
  display: flex;
  justify-content: flex-end;
}
.footer .footer-copyright-section .footer-content-body a:nth-child(1) {
  margin-right: auto;
}
.footer .footer-copyright-section .footer-content-body a {
  display: block;
  color: #999999;
  margin: 17px;
}
.footer .footer-copyright-section .footer-content-body a:hover {
  color: #07b4b4;
  transition: color 700ms ease-in-out;
}

@media screen and (max-width: 450px) {
  .footer {
    width: 100%;
  }
  .footer .footer-content {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer .footer-banners {
    justify-content: center;
    flex-wrap: wrap;
  }
}