.select-category {
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1rem;
  border: 1px solid #e7e7e7;
  padding: 0.5rem 0 0.5rem 0;
}

.category-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.category-form .title {
  position: relative;
  color: #575153;
  font-size: 1.125rem;
  margin: 1.563rem;
  font-weight: bold;
}
.category-form form .picture {
  position: relative;
  height: 240px;
  width: 240px;
  overflow: hidden;
}
.category-form form .picture > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.category-form form .picture input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.category-form form .picture .loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.category-form form .picture .loader .spinner {
  width: 4rem;
}