$background-color: #ffffff;
$border-color: #e7e7e7;
$error-background-color: #fcf6f7;
$title-color: #575153;
$item-color: #777274;
$content-color: #989898;
$copyright-text-color: #999999;
$dark-text: #222222;
$copyright-background-color: #333333;
$hover-color: #00c8c8;
$error-border-color: #bb5465;
$gold: #ded3aa;

$screen-size-1: 480px;
$screen-size-2: 768px;
$screen-size-3: 1024px;
$screen-size-4: 1200px;
$screen-size-5: 1400px;
$screen-size-6: 1920px;
