$title-color: #575153;
$hover-color: #00c8c8;
$border-color: #eeeeee;
$dark-text: #222222;
$body-background-color: #ffffff;

$screen-size-1: 480px;
$screen-size-2: 768px;
$screen-size-3: 1024px;
$screen-size-4: 1200px;
$screen-size-5: 1400px;
