@import "./cssResset.css";
body {
  text-decoration: none;
  font-family: Montserrat;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #ffffff;
}

.content {
  width: 60%;
  max-width: 2050px;
  margin: auto;
}

@media screen and (max-width: 1400px) {
  .content {
    width: 100%;
  }
}
* {
  transition: all 0.2s;
}