@import "./cssResset";
@import "./glodalStyleVariables.scss";

body {
  text-decoration: none;
  font-family: Montserrat;
  min-width: fit-content;
  background-color: $background-color;
}

.content {
  width: 60%;
  max-width: 2050px;
  margin: auto;
}

@media screen and (max-width: 1150px) {
  .content {
    width: 100%;
  }
}

* {
  transition: all 0.4s;
}
