@import "../../../../glodalStyleVariables.scss";

.select-brand {
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1rem;
  border: 1px solid #e7e7e7;
  padding: 0.5rem 0 0.5rem 0;
}
.brand-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  .title {
    position: relative;
    color: $title-color;
    font-size: 1.125rem;
    margin: 1.563rem;
    font-weight: bold;
  }
  form {
    .picture {
      position: relative;
      height: 240px;
      width: 240px;
      overflow: hidden;
      > img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
      }
      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
      }
      .loader {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.2);
        .spinner {
          width: 4rem;
        }
      }
    }
  }
}
