@import "../../../../glodalStyleVariables.scss";

.category-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  .title {
    position: relative;
    color: $title-color;
    font-size: 1.125rem;
    margin: 1.563rem;
    font-weight: bold;
  }
}
